@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rubik", system-ui, sans-serif;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.children-overflow span {
  pointer-events: none;
  overflow: visible !important;
}
.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
}
.waveform {
  --uib-size: 40px;
  --uib-speed: 1s;
  --uib-color: black;
  --uib-line-weight: 3.5px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.9);
}

.waveform__bar {
  width: var(--uib-line-weight);
  height: 100%;
  background-color: var(--uib-color);
}

.waveform__bar:nth-child(1) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45)
    infinite;
}

.waveform__bar:nth-child(2) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3)
    infinite;
}

.waveform__bar:nth-child(3) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15)
    infinite;
}

.waveform__bar:nth-child(4) {
  animation: grow var(--uib-speed) ease-in-out infinite;
}

.fix-rotate span {
  overflow: visible !important;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(0.3);
  }

  50% {
    transform: scaleY(1);
  }
}

.select-label:checked + label {
  background-color: #47b5ff;
  color: white;
  box-shadow: -3px 3px 7px -1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -3px 3px 7px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -3px 3px 7px -1px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

.min-h-full-force {
  height: 100% !important;
}

@keygrames changeBorder {
  0% {
    border-radius: 58% 42% 36% 64% / 54% 48% 52% 46%;
  }

  100 {
    border-radius: 43% 57% 57% 43% / 30% 61% 39% 70%;
  }
}

.custom-border {
  /* border-radius: 58% 42% 36% 64% / 54% 48% 52% 46%;
  animation-name: changeBorder;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-duration: 5s; */
}
